// colors

$color-primary-1: hsl(171, 66%, 44%);
$color-primary-2: hsl(233, 100%, 69%);

$color-neutral-dark: hsl(210, 10%, 33%);
$color-neutral-light: hsl(201, 11%, 66%);
$color-neutral-light-1: hsl(201, 11%, 96%);
$color-white: hsl(0, 100%, 100%);

//fonts variables

$font-primary: "Bai Jamjuree", sans-serif;

// responsive breakpoints

$bp-mobile: 37.5rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $color-neutral-light;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: repeat(12, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}

p {
  font-size: 1.6rem;
}

.background {
  width: 100vw;
  max-width: 100%;
  position: absolute;
  z-index: -10;

  &__img {
    width: 100%;
  }
}
