.btn {
  align-self: start;
  justify-self: start;
  display: inline-block;
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-white;
  padding: 1.4rem 3rem;
  border: none;
  border-radius: 2.5rem;

  &--green {
    background-color: $color-primary-1;
    box-shadow: 0 0.25rem 0.1rem hsl(171, 68%, 32%);
  }

  &--blue {
    background-color: $color-primary-2;
    box-shadow: 0 0.25rem 0.1rem hsl(233, 46%, 48%);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  @media only screen and (max-width: $bp-mobile) {
    width: 70vw;
  }
}

.buttons {
  display: flex;
  gap: 2rem;
  margin: 3rem 0;

  @media only screen and (max-width: $bp-mobile) {
    flex-direction: column;
  }
}
