.features {
  margin: 15rem 0;
  display: grid;
  grid-column: full-start / full-end;
  grid-template-columns: repeat(auto-fit, minmax(65rem, 1fr));
  gap: 5rem;
  align-items: center;

  &__img {
    width: 100%;
    transform: translateX(-4rem);
  }

  &__texts {
    display: grid;
    grid-template-columns: 70%;
    gap: 3.5rem;
    padding: 0 5rem;
  }

  &__heading {
    margin-bottom: 1rem;
  }
}
