.header {
  display: grid;
  grid-column: 4 / span 6;
  justify-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding-top: 15vh;

  &__paragraph {
    font-size: 2rem;
    text-align: center;
  }

  &__logo {
    @media only screen and (max-width: $bp-mobile) {
      margin-bottom: 4rem;
    }
  }

  @media only screen and (max-width: $bp-mobile) {
    grid-column: 2 / span 10;
    gap: 1.5rem;
    padding-top: 10vh;
  }
}
