.header {
  display: grid;
  grid-column: 4 / span 6;
  justify-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding-top: 15vh;

  &__paragraph {
    font-size: 2rem;
    text-align: center;
  }
}

.section-heading {
  width: min(90%, 65rem);
  margin: 0 auto;
}
