.tools {
  margin: 9rem 0;
  display: grid;
  grid-column: 2 / span 10;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: start;
  gap: 3.5rem;

  &__img {
    height: 3rem;
    margin-bottom: 1.5rem;
  }

  &__box {
    display: grid;
    justify-items: center;
    gap: 2rem;
  }
  &__paragraph {
    font-size: 1.5rem;
    line-height: 1.8;
  }
}
