%heading {
  font-family: $font-primary;
  font-weight: 600;
  color: $color-neutral-dark;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
}

.heading-2 {
  @extend %heading;
  font-size: 3rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}
